<ion-content class="ion-padding" fullscreen>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col size="12" size-md="6" size-lg="4">
        <h1 class="ion-text-center">Login</h1>

        <ion-item>
          <ion-label position="floating">Usuário</ion-label>
          <ion-input [(ngModel)]="usuario" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="senha" required></ion-input>
        </ion-item>

        <ion-button expand="block" color="primary" (click)="login()">Entrar</ion-button>

        <ion-text *ngIf="erroLogin" color="danger" class="ion-text-center">
          {{ erroLogin }}
        </ion-text>

        <ion-text class="ion-text-center">
          <p>Não tem conta? <a (click)="navCtrl.navigateForward('/register')">Registrar</a></p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
