.register-page {
    ion-item {
      margin-bottom: 15px;
    }
  
    .register-header h1 {
      margin-bottom: 5px;
    }
  
    .erro-registro {
      color: red;
      margin-top: 10px;
    }
  }
  